label.btn.btn-secondary,
label.btn.btn-secondary:focus,
label.btn.btn-secondary:active,
label.btn.btn-secondary.active,
label.btn.btn-secondary.active:focus,
label.btn.btn-secondary.active:active {
    box-shadow: none !important;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    max-width: 100%;
}

#main {
    margin: 20px;
    position: relative;
}
  

/* Text */

#sections{
   width: 25%;
}

.section-text{
    height: 100%;
    margin: 0px 0px 500px;
}

.block{
    height: 500px;
}

#sections > div{
	opacity: .3;
    margin-bottom: 200px;
}

#sections div.graph-scroll-active{
	opacity: 1;
}

/* 
  Visualizations:
  This is kind of janky but you have to create a new one of these for each visualization 
  Why not just use a class? You may be asking.
  It breaks it. Why? beats me.
*/

#s1_1_viz{
    margin-right: calc(100%-500px);
    width: 75%;
    position: sticky;
    top: 0px;
    float: right;
}

#s1_3_viz{
    margin-right: calc(100%-500px);
    width: 75%;
    position: sticky;
    top: 0px;
    float: right;
}

#s1_2_viz{
    margin-right: calc(100%-500px);
    width: 75%;
    position: sticky;
    top: 0px;
    float: right;
}

circle:hover {
    fill: red;
}

.button-container-div {
    text-align: center;
}

.button-container-div2 {
    text-align: center;
}